/* App.css */

body {
    font-family: 'Lato', sans-serif;
    background-color: #f7f7f7;
  }
  
  .container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #333;
    text-align: center;
    margin-bottom: 40px;
  }
  
  h4 {
    margin: 10px 0;
  }
  
  h3 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .list li {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 5px solid;
  }
  
  .list li.plus {
    border-color: #2ecc71;
  }
  
  .list li.minus {
    border-color: #c0392b;
  }
  
  .money.plus {
    color: #2ecc71;
  }
  
  .money.minus {
    color: #c0392b;
  }
  
  .form-control {
    margin-bottom: 20px;
  }
  
  .form-control label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-control input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .btn {
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
  }
  
  /* Flexbox layout for main content */
  .main-content {
    display: flex;
  }
  
  .summary, .history {
    display: flex;
    flex-direction: column;
  }
  
  .summary {
    flex: 1;
    margin-right: 24px;
    max-height: 550px;
  }
  
  .history {
    flex: 1;
    max-height: 550px;
    overflow-y: auto;
    padding-left: 20px;
    position: relative;
  }
  
  .separator {
    width: 1px;
    background-color: #ddd;
    height: 550px;
    position: absolute;
    left: 51%;
  }
  